@import './variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: $Desaturated-Red;
    background: $linear;
}